<!-- quickview.liquid -->
<div class="qv-product-images" style="opacity: 0"></div>
	<div class="qv-content">
		<div class="holder">
			<h3 class="qv-product-title"></h3>
			<h4 class="qv-product-type"></h4>
			<h5 class="qv-product-price"></h5>
			<h5 class="qv-product-original-price"></h5>
			
			<div class="qv-add-to-cart">
			<div class="qv-product-options"></div>

			<!-- <input type="submit" class="" value="Add to Cart"> -->
			<button type="submit" name="add" class="qv-add-button product__add-to-cart button">
				<span class="add-to-cart__text" data-add-to-cart-text=" Add to cart "> Add to cart </span>
				<span class="add-to-cart__symbol">
					<svg class="svg symbol symbol--cart low-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7 7H4.85375C3.25513 7 1.93732 8.25356 1.85749 9.85019L1.15749 23.8502C1.07181 25.5637 2.43806 27 4.15375 27H19.8463C21.5619 27 22.9282 25.5637 22.8425 23.8502L22.1425 9.85019C22.0627 8.25356 20.7449 7 19.1463 7H17M7 7V5C7 2.79086 8.79086 1 11 1H13C15.2091 1 17 2.79086 17 5V7M7 7H17" stroke="black" stroke-width="2"></path>
					</svg>
					<svg class="svg symbol symbol--cart high-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.20513 7.11364H4.96283C3.37199 7.11364 2.05776 8.35543 1.96765 9.94371L1.17984 23.8301C1.08221 25.551 2.45138 27 4.17502 27H19.825C21.5486 27 22.9178 25.551 22.8202 23.8301L22.0324 9.94371C21.9422 8.35542 20.628 7.11364 19.0372 7.11364H16.7949M7.20513 7.11364V5C7.20513 2.79086 8.99599 1 11.2051 1H12.7949C15.004 1 16.7949 2.79086 16.7949 5V7.11364M7.20513 7.11364H16.7949" stroke="black" stroke-width="1.5"></path>
					</svg>
				</span>
			</button>
			<div class="qv-add-to-cart-response"></div>
		</div>
		<div class="qv-product-description"></div>
	</div>
	<a class="view-product button" href=""><span>Full Details</span></a>
</div>