{% if icon == 'plus' %}

	<svg class="svg symbol symbol--plus low-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 13V18H13V13H18V11H13V6H11V11H6V13H11Z" fill="black"/></svg><svg class="svg symbol symbol--plus high-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M10.75 12.25V17h1.5v-4.75H17v-1.5h-4.75V6h-1.5v4.75H6v1.5h4.75z" fill="#000"/></svg>

{% elsif icon == 'minus' %}

	<svg class="svg symbol symbol--minus low-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M18 13H6v-2h12v2z" fill="#000"/></svg><svg class="svg symbol symbol--minus high-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M18 12.5H6V11h12v1.5z" fill="#000"/></svg>

{% elsif icon == 'arrow' %}

	<svg class="svg symbol symbol--arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M13.828 14.414l4-4L16.414 9l-4 4-4-4L7 10.414l5.414 5.414 1.414-1.414z" fill="#000"/></svg>

{% elsif icon == 'arrow-long' %}

	<span class="long-arrow"><svg class="svg symbol symbol--arrow-long low-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30 5.99999L27.5 8.50001L29 10L34 5.00001L32.5 3.50001L29 0L27.5 1.5L30 3.99999L0 3.99999V4.99999V5.99999L30 5.99999Z" fill="black"/></svg><svg class="svg symbol symbol--arrow-long high-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28 9.99999L31.6893 6.3107H0V5.5607V4.8107H31.8107L28 1L29 0L34 5.06067L34 6.06069L34 6.0607L29 11L28 9.99999Z" fill="black"/></svg></span>

{% elsif icon == 'arrow-right' %}

	<svg class="svg symbol symbol--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>

{% elsif icon == 'arrow-left' %}

	<svg class="svg symbol symbol--arrow-left" style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>

{% elsif icon == 'search' %}

	<svg class="svg symbol symbol--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 19.2a8.96 8.96 0 0 1-9-9 8.96 8.96 0 0 1 9-9 8.96 8.96 0 0 1 9 9 8.96 8.96 0 0 1-9 9zm0-16c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7c0-3.8-3.1-7-7-7z"/><path d="M15.65 17.11l1.414-1.414 5.657 5.657-1.414 1.414z"/></svg>

{% elsif icon == 'share' %}

	<svg class="svg symbol symbol--share low-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23 3V10H21V4.62133L11.4142 14.2071L10 12.7929L19.7929 3H14V1H21H23V3ZM3 6V20H18V14H20V22H19.5H18H3H1V20V4H2H3H10V6H3Z" fill="black"/></svg><svg class="svg symbol symbol--share high-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M22.25 3.75v7.5h-1.5V4.81L10.53 15.03l-1.06-1.06L19.69 3.75h-6.44v-1.5h9v1.5zm-19.5 2.5v14.5h15V14.5h1.5v7.75h-18V4.75H10v1.5H2.75z" fill="#000"/></svg>

{% elsif icon == 'zoom-in' %}

	<svg class="svg symbol symbol--zoom-in" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 19.2a8.96 8.96 0 0 1-9-9 8.96 8.96 0 0 1 9-9 8.96 8.96 0 0 1 9 9 8.96 8.96 0 0 1-9 9zm0-16c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7c0-3.8-3.1-7-7-7z"/><path d="M15.65 17.1l1.414-1.414 5.657 5.657-1.414 1.414zM14.3 9.3h-3v-3h-2v3h-3v2h3v3h2v-3h3z"/></svg>

{% elsif icon == 'zoom-out' %}

	<svg class="svg symbol symbol--zoom-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2,19.2c-5,0-9-4-9-9s4-9,9-9s9,4,9,9S15.2,19.2,10.2,19.2z M10.2,3.2c-3.9,0-7,3.1-7,7s3.1,7,7,7s7-3.1,7-7 C17.2,6.4,14.1,3.2,10.2,3.2z"/><path d="M15.637 17.078l1.414-1.414 5.657 5.657-1.414 1.414zM6.3 9.3h8v2h-8z"/></svg>

{% elsif icon == 'cart' %}

	<svg class="svg symbol symbol--cart low-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 7H4.85375C3.25513 7 1.93732 8.25356 1.85749 9.85019L1.15749 23.8502C1.07181 25.5637 2.43806 27 4.15375 27H19.8463C21.5619 27 22.9282 25.5637 22.8425 23.8502L22.1425 9.85019C22.0627 8.25356 20.7449 7 19.1463 7H17M7 7V5C7 2.79086 8.79086 1 11 1H13C15.2091 1 17 2.79086 17 5V7M7 7H17" stroke="black" stroke-width="2"/></svg><svg class="svg symbol symbol--cart high-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.20513 7.11364H4.96283C3.37199 7.11364 2.05776 8.35543 1.96765 9.94371L1.17984 23.8301C1.08221 25.551 2.45138 27 4.17502 27H19.825C21.5486 27 22.9178 25.551 22.8202 23.8301L22.0324 9.94371C21.9422 8.35542 20.628 7.11364 19.0372 7.11364H16.7949M7.20513 7.11364V5C7.20513 2.79086 8.99599 1 11.2051 1H12.7949C15.004 1 16.7949 2.79086 16.7949 5V7.11364M7.20513 7.11364H16.7949" stroke="black" stroke-width="1.5"/></svg>

{% elsif icon == 'aural' %}

	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" class="svg symbol--cart high-dpi" width="150" height="150" viewBox="-20 30 150 150" enable-background="new 0 0 300 100" preserveAspectRatio="none" xml:space="preserve"><g><circle fill="none" cx="56.171" cy="50.288" r="2.278"></circle><path fill="none" d="M10.967,47.426H5.976v5.148h4.991c0.1,0,0.197,0.031,0.279,0.088l7.796,5.429V41.909l-7.796,5.429   C11.164,47.395,11.067,47.426,10.967,47.426z"></path><path fill="none" d="M74.492,47.426h-4.991v5.148h4.991c0.1,0,0.197,0.031,0.279,0.088l7.796,5.429V41.909l-7.796,5.429   C74.689,47.395,74.591,47.426,74.492,47.426z"></path><path fill="none" d="M20.018,47.586v4.828c1.125-0.227,1.975-1.223,1.975-2.414C21.993,48.809,21.143,47.813,20.018,47.586z"></path><path fill="none" d="M83.543,47.586v4.828c1.125-0.227,1.975-1.223,1.975-2.414C85.518,48.809,84.668,47.813,83.543,47.586z"></path><path d="M20.018,46.61v-5.636c0-0.182-0.101-0.349-0.262-0.433c-0.161-0.083-0.355-0.072-0.505,0.033l-8.437,5.876H5.488   C5.219,46.45,5,46.668,5,46.938v6.125c0,0.269,0.219,0.488,0.488,0.488h5.326l8.437,5.876c0.084,0.058,0.181,0.088,0.279,0.088   c0.077,0,0.155-0.018,0.226-0.055c0.161-0.084,0.262-0.251,0.262-0.433V53.39c1.664-0.24,2.951-1.661,2.951-3.39   S21.682,46.849,20.018,46.61z M19.042,58.091l-7.796-5.429c-0.082-0.057-0.179-0.088-0.279-0.088H5.976v-5.148h4.991   c0.1,0,0.197-0.031,0.279-0.088l7.796-5.429V58.091z M20.018,52.414v-4.828c1.125,0.227,1.975,1.223,1.975,2.414   C21.993,51.191,21.143,52.187,20.018,52.414z"></path><path d="M83.543,46.61v-5.636c0-0.182-0.101-0.349-0.262-0.433c-0.161-0.083-0.355-0.072-0.505,0.033l-8.437,5.876h-5.326   c-0.269,0-0.488,0.219-0.488,0.488v6.125c0,0.269,0.219,0.488,0.488,0.488h5.326l8.437,5.876c0.084,0.058,0.181,0.088,0.279,0.088   c0.077,0,0.155-0.018,0.226-0.055c0.161-0.084,0.262-0.251,0.262-0.433V53.39c1.664-0.24,2.951-1.661,2.951-3.39   S85.207,46.849,83.543,46.61z M82.567,58.091l-7.796-5.429c-0.082-0.057-0.179-0.088-0.279-0.088h-4.991v-5.148h4.991   c0.1,0,0.197-0.031,0.279-0.088l7.796-5.429V58.091z M83.543,52.414v-4.828c1.125,0.227,1.975,1.223,1.975,2.414   C85.518,51.191,84.668,52.187,83.543,52.414z"></path><path d="M91.122,49.963c0-1.913-0.853-3.095-1.569-3.75c-0.775-0.71-1.558-0.965-1.591-0.976c-0.257-0.084-0.529,0.059-0.612,0.315   c-0.083,0.255,0.057,0.53,0.313,0.615c0.101,0.033,2.483,0.851,2.483,3.797c0,2.955-2.392,3.839-2.491,3.874   c-0.255,0.088-0.39,0.366-0.302,0.621c0.07,0.202,0.259,0.329,0.461,0.329c0.053,0,0.107-0.009,0.16-0.027   C88.005,54.749,91.122,53.627,91.122,49.963z"></path><path d="M89.756,41.957c-0.258-0.083-0.532,0.058-0.615,0.314c-0.083,0.256,0.057,0.532,0.314,0.615   c0.046,0.015,4.569,1.545,4.569,7.049c0,5.49-4.394,7.117-4.58,7.184c-0.254,0.089-0.388,0.368-0.299,0.622   c0.07,0.201,0.259,0.326,0.46,0.326c0.054,0,0.108-0.009,0.162-0.028C89.819,58.021,95,56.132,95,49.935   C95,43.729,89.809,41.974,89.756,41.957z"></path><path d="M65.996,49.904h-6.61c-0.193-1.612-1.553-2.87-3.215-2.87c-1.663,0-3.023,1.259-3.215,2.87H26.297   c-0.269,0-0.488,0.255-0.488,0.524c0,0.269,0.219,0.524,0.488,0.524h26.69c0.308,1.476,1.618,2.589,3.185,2.589   c1.566,0,2.877-1.113,3.185-2.589h6.64c0.27,0,0.488-0.255,0.488-0.524C66.484,50.159,66.266,49.904,65.996,49.904z M56.171,52.566   c-1.256,0-2.278-1.022-2.278-2.278s1.022-2.278,2.278-2.278s2.278,1.022,2.278,2.278S57.427,52.566,56.171,52.566z"></path></g></svg>

{% elsif icon == 'filter' %}

	<svg class="svg symbol symbol--filter low-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000" fill-rule="evenodd"><path d="M23 7H2V5h21v2zm-7.393 6H2v-2h13.607v2zm-5.75 6H2v-2h7.857v2z"/></svg><svg class="svg symbol symbol--filter high-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000" fill-rule="evenodd"><path d="M23 6.75H2v-1.5h21v1.5zm-7.393 6H2v-1.5h13.607v1.5zm-5.75 6H2v-1.5h7.857v1.5z"/></svg>

{% elsif icon == 'star' %}

	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M12 17.4l-7.4 5.4 2.84-8.72L0 8.72h9.2L12 0l2.8 8.72H24l-7.44 5.36 2.84 8.72-7.4-5.4z" fill="#202020"/></svg>

{% elsif icon == 'avatar' %}

	<svg class="svg symbol symbol--avatar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151 151"><path d="M25,158.2V125c0-17.9,13.8-32.5,31.3-33.4l1.9-0.1v-8l-0.5-0.6c-3.8-4.3-5.8-9.6-5.8-15.4V56c0-13.1,10.6-23.7,23.7-23.7
	h0.7c13.1,0,23.7,10.6,23.7,23.7v11.5c0,5.7-2.1,11.1-5.8,15.4l-0.5,0.6v8l1.9,0.1c17.6,1,31.4,15.7,31.4,33.4v33.2H25z M56.7,96.8C42,97.3,30,110.1,30,125.2v28.5h92v-28.5c0-15.3-11.7-27.8-26.7-28.4l-1.6-0.1l-0.4,1.6c-2,8.1-9.1,13.7-17.3,13.7
	c-8.2,0-15.3-5.7-17.3-13.7l-0.4-1.6L56.7,96.8z M63.2,93.7c0,7.2,5.7,13.1,12.8,13.1s12.8-5.9,12.8-13.1V88L86,89.2
	c-3,1.3-6.1,2-9.6,2h-0.7c-3.5,0-6.6-0.6-9.6-2L63.2,88V93.7z M75.6,37.3c-10.3,0-18.7,8.4-18.7,18.7v11.5
	c0,10.3,8.4,18.7,18.7,18.7h0.7c10.3,0,18.7-8.4,18.7-18.7V56c0-10.3-8.4-18.7-18.7-18.7H75.6z"/></svg>

{% elsif icon == 'lock' %}

	<svg class="svg symbol symbol--lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24" height="24" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="3" stroke-linejoin="round"><path d="M19 30V15a13 13 0 1 1 26 0v15m-35 0h44v32H10zm22 11v10"/></svg>

{% elsif icon == 'close' %}

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>

{% elsif icon == 'burger' %}

	<svg class="svg symbol symbol--burger" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5H24V7H0V5Z" fill="black"/><path d="M0 13H24V14V15H0C0 14.7071 0 14.2286 0 14C0 13.7714 0 13.2929 0 13Z" fill="black"/><path d="M0 21H24V23H0V21Z" fill="black"/></svg>

{% elsif icon == 'play' %}

	<svg class="svg symbol symbol--play" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47 47" style="enable-background:new 0 0 47 47; width: 47px; height: 47px;" xml:space="preserve"><g><path d="M23.5,1C11.1,1,1,11.1,1,23.5C1,35.9,11.1,46,23.5,46S46,35.9,46,23.5S35.9,1,23.5,1z M23.5,42.4c-10.4,0-18.9-8.5-18.9-18.9S13.1,4.6,23.5,4.6s18.9,8.5,18.9,18.9S33.9,42.4,23.5,42.4z"/><path d="M32.5,22l-12.6-7.8c-1.1-0.7-2.6,0.1-2.6,1.5v15.7c0,1.3,1.5,2.2,2.6,1.5L32.5,25C33.6,24.3,33.6,22.7,32.5,22z"/></g></svg>

{% elsif icon == 'badge-model-thumbnail' %}

	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><path class="bg" d="M1,25H25V1H1Z" fill="#fff"/><path class="stroke" d="M.5,25v.5h25V.5H.5Z" fill="none" stroke="#000" stroke-opacity="0.05"/><path class="path" d="M19.13,8.28,14,5.32a2,2,0,0,0-2,0l-5.12,3a2,2,0,0,0-1,1.76V16a2,2,0,0,0,1,1.76l5.12,3a2,2,0,0,0,2,0l5.12-3a2,2,0,0,0,1-1.76V10A2,2,0,0,0,19.13,8.28Zm-6.4,11.1-5.12-3A.53.53,0,0,1,7.35,16V10a.53.53,0,0,1,.27-.46l5.12-3a.53.53,0,0,1,.53,0l5.12,3-4.72,2.68a1.33,1.33,0,0,0-.67,1.2v6a.53.53,0,0,1-.26,0Z" fill="#3a3a3a" opacity="0.6" style="isolation:isolate"/></svg>

{% elsif icon == 'model-button' %}

	<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--full-color icon-3d-badge-full-color" viewBox="0 0 26 26"><path d="M1 25h24V1H1z"/><path class="icon-3d-badge-full-color-outline" d="M.5 25v.5h25V.5H.5z" fill="none"/><path class="icon-3d-badge-full-color-element" d="M19.13 8.28L14 5.32a2 2 0 0 0-2 0l-5.12 3a2 2 0 0 0-1 1.76V16a2 2 0 0 0 1 1.76l5.12 3a2 2 0 0 0 2 0l5.12-3a2 2 0 0 0 1-1.76v-6a2 2 0 0 0-.99-1.72zm-6.4 11.1l-5.12-3a.53.53 0 0 1-.26-.38v-6a.53.53 0 0 1 .27-.46l5.12-3a.53.53 0 0 1 .53 0l5.12 3-4.72 2.68a1.33 1.33 0 0 0-.67 1.2v6a.53.53 0 0 1-.26 0z" opacity=".6" style="isolation:isolate"/></svg>	

{% elsif icon == 'badge-video-thumbnail' %}

	<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="bg" fill-rule="evenodd" clip-rule="evenodd" d="M1 25H25V1H1V25Z" fill="white"/><path class="stroke" d="M0.5 25V25.5H1H25H25.5V25V1V0.5H25H1H0.5V1V25Z" stroke="black" stroke-opacity="0.05"/><path class="path" fill-rule="evenodd" clip-rule="evenodd" d="M9.71814 6.71984C9.0517 6.31605 8.19995 6.79588 8.19995 7.5751V18.311C8.19995 19.1138 9.09826 19.5893 9.76217 19.1379L18.1123 13.4612C18.7146 13.0518 18.6912 12.1564 18.0682 11.779L9.71814 6.71984Z" fill="#3A3A3A" fill-opacity="0.6"/></svg>

{% elsif icon == 'social_email' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
	<path d="M26 23.5v-12c-0.328 0.375-0.688 0.719-1.078 1.031-2.234 1.719-4.484 3.469-6.656 5.281-1.172 0.984-2.625 2.188-4.25 2.188h-0.031c-1.625 0-3.078-1.203-4.25-2.188-2.172-1.813-4.422-3.563-6.656-5.281-0.391-0.313-0.75-0.656-1.078-1.031v12c0 0.266 0.234 0.5 0.5 0.5h23c0.266 0 0.5-0.234 0.5-0.5zM26 7.078c0-0.391 0.094-1.078-0.5-1.078h-23c-0.266 0-0.5 0.234-0.5 0.5 0 1.781 0.891 3.328 2.297 4.438 2.094 1.641 4.188 3.297 6.266 4.953 0.828 0.672 2.328 2.109 3.422 2.109h0.031c1.094 0 2.594-1.437 3.422-2.109 2.078-1.656 4.172-3.313 6.266-4.953 1.016-0.797 2.297-2.531 2.297-3.859zM28 6.5v17c0 1.375-1.125 2.5-2.5 2.5h-23c-1.375 0-2.5-1.125-2.5-2.5v-17c0-1.375 1.125-2.5 2.5-2.5h23c1.375 0 2.5 1.125 2.5 2.5z"></path>
	</svg>

	</svg>
{% elsif icon == 'social_facebook' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="28" viewBox="0 0 16 28">
	<path d="M14.984 0.187v4.125h-2.453c-1.922 0-2.281 0.922-2.281 2.25v2.953h4.578l-0.609 4.625h-3.969v11.859h-4.781v-11.859h-3.984v-4.625h3.984v-3.406c0-3.953 2.422-6.109 5.953-6.109 1.687 0 3.141 0.125 3.563 0.187z"></path>
	</svg>

</svg>
{% elsif icon == 'social_twitter' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.83 5.57c-.94.47-2 .7-3.05.82 1.06-.7 1.88-1.64 2.35-2.94-1.06.6-2.1 1.06-3.4 1.3-.94-1.06-2.35-1.64-3.87-1.64-2.94 0-5.28 2.35-5.28 5.28 0 .47 0 .82.12 1.17-4.47-.23-8.35-2.34-10.93-5.5-.47.82-.7 1.64-.7 2.7 0 1.88.94 3.4 2.35 4.46a4.25 4.25 0 0 1-2.35-.7v.12c0 2.58 1.88 4.7 4.23 5.17-.47 0-.94.12-1.4.12-.35 0-.7 0-.94-.12.6 2.1 2.58 3.64 4.93 3.64-1.88 1.53-4.1 2.35-6.58 2.35-.47 0-.82 0-1.3-.12C2.35 23.18 5.17 24 8.1 24c9.75 0 15.03-8.1 15.03-15.03v-.7a9.91 9.91 0 0 0 2.7-2.7z"/></svg>
{% elsif icon == 'social_flickr' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M24.85 0H1.15C.43 0 0 .43 0 1.15v23.7c0 .57.43 1 1.15 1h23.7c.57 0 1.15-.43 1.15-1.15V1.15C25.86.43 25.43 0 24.85 0zM7.6 17.24c-2.44 0-4.3-1.87-4.3-4.3s1.87-4.3 4.3-4.3 4.3 1.87 4.3 4.3-2 4.3-4.3 4.3zm10.78 0c-2.44 0-4.3-1.87-4.3-4.3s1.87-4.3 4.3-4.3 4.3 1.87 4.3 4.3-2 4.3-4.3 4.3z"/></svg>
{% elsif icon == 'social_google' %}
	<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 26 26"><g fill="rgb(86.27451%,30.588235%,25.490196%)"><path d="M26.047 13.023a13.03 13.03 0 0 1-13.023 13.023A13.03 13.03 0 0 1 0 13.023 13.03 13.03 0 0 1 13.023 0a13.03 13.03 0 0 1 13.023 13.023zm0 0"/><path class="invert-fill" d="M4.535 13.14c-.047 2.242 1.496 4.38 3.617 5.078 2 .672 4.46.168 5.79-1.543.973-1.203 1.195-2.8 1.1-4.297l-5.137-.008.004 1.828 3.074.035c-.258.89-.848 1.715-1.742 2.035-1.727.762-3.934-.234-4.477-2.047-.656-1.734.418-3.828 2.19-4.336 1.102-.387 2.234.05 3.176.62.477-.445.922-.922 1.36-1.406-1.066-.895-2.44-1.44-3.855-1.32-2.77.03-5.195 2.6-5.1 5.36zm13.828-2.31l-.012 1.535-1.535.008v1.53l1.535.008.008 1.535h1.527l.012-1.535 1.535-.008V12.38l-1.535-.012-.012-1.535zm0 0"/></g></svg>
{% elsif icon == 'social_instagram' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28">
	<path d="M16 14c0-2.203-1.797-4-4-4s-4 1.797-4 4 1.797 4 4 4 4-1.797 4-4zM18.156 14c0 3.406-2.75 6.156-6.156 6.156s-6.156-2.75-6.156-6.156 2.75-6.156 6.156-6.156 6.156 2.75 6.156 6.156zM19.844 7.594c0 0.797-0.641 1.437-1.437 1.437s-1.437-0.641-1.437-1.437 0.641-1.437 1.437-1.437 1.437 0.641 1.437 1.437zM12 4.156c-1.75 0-5.5-0.141-7.078 0.484-0.547 0.219-0.953 0.484-1.375 0.906s-0.688 0.828-0.906 1.375c-0.625 1.578-0.484 5.328-0.484 7.078s-0.141 5.5 0.484 7.078c0.219 0.547 0.484 0.953 0.906 1.375s0.828 0.688 1.375 0.906c1.578 0.625 5.328 0.484 7.078 0.484s5.5 0.141 7.078-0.484c0.547-0.219 0.953-0.484 1.375-0.906s0.688-0.828 0.906-1.375c0.625-1.578 0.484-5.328 0.484-7.078s0.141-5.5-0.484-7.078c-0.219-0.547-0.484-0.953-0.906-1.375s-0.828-0.688-1.375-0.906c-1.578-0.625-5.328-0.484-7.078-0.484zM24 14c0 1.656 0.016 3.297-0.078 4.953-0.094 1.922-0.531 3.625-1.937 5.031s-3.109 1.844-5.031 1.937c-1.656 0.094-3.297 0.078-4.953 0.078s-3.297 0.016-4.953-0.078c-1.922-0.094-3.625-0.531-5.031-1.937s-1.844-3.109-1.937-5.031c-0.094-1.656-0.078-3.297-0.078-4.953s-0.016-3.297 0.078-4.953c0.094-1.922 0.531-3.625 1.937-5.031s3.109-1.844 5.031-1.937c1.656-0.094 3.297-0.078 4.953-0.078s3.297-0.016 4.953 0.078c1.922 0.094 3.625 0.531 5.031 1.937s1.844 3.109 1.937 5.031c0.094 1.656 0.078 3.297 0.078 4.953z"></path>
	</svg>

{% elsif icon == 'social_linkedin' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M24.85 0H1.15C.43 0 0 .43 0 1.15v23.7c0 .57.43 1 1.15 1h23.7c.57 0 1.15-.43 1.15-1.15V1.15C25.86.43 25.43 0 24.85 0zM7.6 21.98H3.88V9.62h3.88v12.35H7.6zM5.75 8.04c-1.3 0-2.15-1-2.15-2.3s1-2.15 2.15-2.15c1.3 0 2.15 1 2.15 2.15.14 1.3-.86 2.3-2.15 2.3zm16.23 13.94H18.1v-6.03c0-1.44 0-3.3-2-3.3s-2.3 1.58-2.3 3.16v6.03h-3.73V9.62h3.73v1.72c.57-1 1.72-2 3.6-2 3.88 0 4.6 2.6 4.6 5.9v6.76z"/></svg>
{% elsif icon == 'social_pinterest' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M13 0C5.85 0 0 5.85 0 13c0 5.46 3.38 10.27 8.32 12.1-.13-1.04-.26-2.6 0-3.77l1.56-6.5s-.4-.65-.4-1.82c0-1.82 1.04-3.12 2.34-3.12 1.17 0 1.7.78 1.7 1.82 0 1.17-.65 2.73-1.04 4.3-.26 1.3.65 2.34 1.95 2.34 2.34 0 4.03-2.47 4.03-5.98 0-3.12-2.2-5.33-5.46-5.33-3.64 0-5.85 2.73-5.85 5.6 0 1.17.4 2.34.9 3 .13.13.13.26.13.4-.13.4-.26 1.3-.4 1.43 0 .26-.13.26-.4.13-1.56-.78-2.6-3.12-2.6-5.07 0-4.16 3-7.93 8.58-7.93 4.55 0 8.06 3.25 8.06 7.54 0 4.42-2.86 8.06-6.76 8.06-1.3 0-2.6-.65-3-1.43l-.78 3.12c-.26 1.17-1.04 2.6-1.56 3.38 1.04.52 2.34.78 3.64.78 7.15 0 13-5.85 13-13S20.15 0 13 0z"/></svg>
{% elsif icon == 'social_reddit' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M26 12.6a3.18 3.18 0 0 0-3.12-3.12c-.72 0-1.44.24-1.92.72-1.92-1.2-4.32-1.92-6.85-2.04l1.32-4.2 3.72.84c.12 1.32 1.2 2.4 2.52 2.4 1.44 0 2.64-1.2 2.64-2.64S23.1 1.9 21.67 1.9c-.96 0-1.92.6-2.28 1.44l-4.32-.96c-.36-.12-.72.12-.84.48l-1.68 5.28c-2.64 0-5.28.72-7.2 2.04-.6-.48-1.2-.72-1.92-.72A3.18 3.18 0 0 0 .3 12.59c0 1.08.48 2.04 1.32 2.52v.72c0 2.16 1.2 4.08 3.48 5.52 2.16 1.56 4.92 2.28 8.05 2.28 3 0 5.88-.72 8.05-2.16 2.28-1.44 3.48-3.48 3.48-5.52v-.72c.72-.6 1.32-1.56 1.32-2.64zm-4.32-9.13c.6 0 1.2.48 1.2 1.2 0 .6-.48 1.2-1.2 1.2a1.13 1.13 0 0 1-1.2-1.2c.12-.72.6-1.2 1.2-1.2zM7.63 14.5a1.85 1.85 0 0 1 1.8-1.8c.96 0 1.68.84 1.68 1.8a1.64 1.64 0 0 1-1.68 1.68c-1.08 0-1.8-.72-1.8-1.68zm9.72 5.16c-.84.84-2.28 1.32-4.2 1.32s-3.36-.48-4.2-1.32c-.24-.24-.24-.72 0-.96s.72-.24.96 0c.6.6 1.68.96 3.24.96s2.64-.24 3.24-.96c.24-.24.72-.24.96 0 .36.24.36.6 0 .96zM17 16.2c-.96 0-1.8-.72-1.8-1.68a1.85 1.85 0 0 1 1.8-1.8c.96 0 1.68.84 1.68 1.8a1.64 1.64 0 0 1-1.68 1.68z"/></svg>
{% elsif icon == 'social_vimeo' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.9 7.3c-.12 2.47-1.88 6-5.3 10.36-3.53 4.6-6.48 6.83-8.95 6.83-1.53 0-2.83-1.4-3.9-4.24L5.65 12.6c-.7-2.7-1.53-4.1-2.35-4.1-.24 0-.94.35-2.12 1.18L0 8.13C1.3 6.95 2.6 5.9 3.77 4.7c1.65-1.53 2.94-2.24 3.9-2.36 2-.24 3.3 1.18 3.77 4.12.47 3.18.82 5.18 1.06 5.9.6 2.6 1.18 4 1.88 4 .6 0 1.4-.82 2.47-2.6s1.65-3.06 1.77-3.9c.12-1.53-.47-2.24-1.77-2.24-.6 0-1.3.12-1.88.47C16.26 4 18.6 1.87 22.26 2c2.6.25 3.77 1.9 3.65 5.3z"/></svg>
{% elsif icon == 'social_youtube' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.76 8.2s-.24-1.77-1.06-2.6c-.95-1.06-2.13-1.06-2.6-1.06L13 4.3l-9.1.24c-.47 0-1.65 0-2.6 1.06C.47 6.43.24 8.2.24 8.2S0 10.33 0 12.45v2c0 2.13.24 4.25.24 4.25s.24 1.77 1.06 2.6c.95 1.06 2.25.95 2.84 1.06 2.12.25 8.86.25 8.86.25l9.1-.24c.47-.12 1.65-.12 2.6-1.06.83-.83 1.06-2.6 1.06-2.6s.24-2.13.24-4.26v-2c0-2.12-.24-4.25-.24-4.25zm-15.48 8.63V9.5l6.97 3.66-6.97 3.67z"/></svg>
{% elsif icon == 'social_tumblr' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M19.02 20.9c-.52.26-1.44.4-2.1.4-2.1 0-2.48-1.44-2.48-2.6v-8.1h5.23V6.66h-5.23V0h-3.8s-.13 0-.13.13c-.4 2.1-1.3 5.62-5.23 7.06v3.4h2.6v8.5c0 2.87 2.22 7.05 7.84 6.92 1.96 0 4.05-.78 4.57-1.57l-1.3-3.53z"/></svg>
{% endif %}
