{%comment%}{%endcomment%}
<div class="page-content">
	
	<div class="page-header">
		<h1 class="title h1 is404">{{ 'general.404.title' | t }}</h1>
		<p class="subtitle">Where's that confounded bridge?</p>
	</div>

	<div class="page-body">
		{% capture search_placeholder %}{{ 'general.404.search_placeholder' | t }}{% endcapture %}
		{% render 'search-form', placeholder: search_placeholder %}

		<p></p><img src="https://cdn.shopify.com/s/files/1/0478/4884/9576/files/page-not-found.jpg?v=1604087597" alt="Page not found.">

		<div class="page-action"><a href="{{ routes.all_products_collection_url }}" class="button button--solid">{{ 'general.404.continue_browsing' | t }}</a></div>
	</div>

</div>
{%comment%}



																{% for vendor in shop.vendors %}
																	{% assign vendor_handle = vendor | handleize %}
																	{% assign vendor_linktext = vendor | escape %}
																	
																	{% assign vendor_product_count = 0 %}
																	{% for product in collections[vendor_handle].products %}
																	  {% if product.available %}
																	    {% assign vendor_product_count = vendor_product_count | plus: 1 %}
																	  {% endif %}
																	{% endfor %}

																	

																{% endfor %}
{% endcomment %}


