<div id="page-content" class="home">
	{{ content_for_index }}
	<!-- parent wrapper -->
	<div class="grid">

		<div class="item item1 lifestyle-eames">
			<h1>Mid Century Audio</h1>
			<div class="img"></div>
		</div>

		<div class="item item2 product-category">
			<div class="wrapper">
				<div class="overlay">
					<div class="detail">
						<h2>
							<a href="#">Tube Amps</a>
						</h2>
						<p class="qty">(4 Items)</p>
						<a href="#" class="btn cta">Shop now</a>
					</div>
				</div>
			</div>
		</div>

		<div class="item item3 product-category">
			<div class="wrapper">
				<div class="overlay">
					<div class="detail">
						<h2>
							<a href="#">McIntosh</a>
						</h2>
						<p class="qty">(9 Items)</p>
						<a href="#" class="btn cta">Shop now</a>
					</div>
				</div>
			</div>
		</div>

		<div class="item item4 product">
			<div class="wrapper">
				<div class="overlay">
					<div class="detail">
						<h2 class="">
							<a href="#">McIntosh MAC1700 // Stereo Receiver</a>
						</h2>
						<p class="val">$950.00</p>
						<a href="#" class="btn cta">Quick View</a>
					</div>
				</div>
			</div>
		</div>

		<div class="item item5 product">
			<div class="wrapper">
				<div class="overlay">
					<div class="detail">
						<h2 class="">
							<a href="#">Thorens TD 206 // Turntable / Ortofon Blue</a>
						</h2>
						<p class="val">$1100.00</p>
						<a href="#" class="btn cta">Quick View</a>
					</div>
				</div>
			</div>
		</div>

		<div class="item item6 lifestyle-records">
			<div class="img"></div>
		</div>

		<div class="item item7 product">
			<div class="wrapper">
				<div class="overlay">
					<div class="detail">
						<h2 class="">
							<a href="#">Marantz Model Twenty Eight (28) // Garrard Turntable &amp; Receiver Combo </a>
						</h2>
						<p class="val">$750.00</p>
						<a href="#" class="btn cta">Quick View</a>
					</div>
				</div>
			</div>
		</div>

		<div class="item item8 product">
			<div class="wrapper">
				<div class="overlay">
					<div class="detail">
						<h2 class="">
							<a href="#">Harman Kardon Five Thirty // Receiver</a>
						</h2>
						<p class="val">$400.00</p>
						<a href="#" class="btn cta">Quick View</a>
					</div>
				</div>
			</div>
		</div>

		<div class="item item9 lifestyle-power">
			<div class="img"></div>
		</div>

		<div class="item item10 content">
			<h3 style="text-align: left;">
				OUR ETHOS
			</h2>
			<p>
				We love art. We love music. We love design. These are the things that make our world memorable, inspiring, and worth living in.
			</p>
			<p>
				We’re on a mission to rescue, restore, and sometimes add our own design touches to, mid century audio gear. Gear that was made in a time when quality of sound, materials, and design were all equally important. A time when things were made to last a lifetime, or two, or three. A time when things were built to be maintained and repaired, not thrown away. A time when your stereo was an experience – designed as functional art to be displayed proudly, not hidden away in a cabinet.
			</p>
			<p>
				We want to make sure that the equipment you buy is performing at it’s best possible level. So, e
				very piece we sell has been fully serviced by a professional tech and brought up to factory specs and all lamps are replaced with LED whenever possible.
			</p>
		</div>
		
	</div>

</div>