
{% include 'atb' zone:'Top' %}
<div class="page-content">
<div class="rte">
		{{ page.content }}
	</div>
</div>

<script>

  $(window).on('load', function(){

		$(window).on('hashchange', function(){
			if ( location.hash !== '' ) {
				$('html,body').animate({scrollTop: $(location.hash).offset().top - 50}, 350);
			}
		});

		if ( location.hash !== '' ) {
			$('html,body').animate({scrollTop: $(location.hash).offset().top - 50}, 0);
		}

  });

</script>

{% include 'atb' zone:'Bottom' %}